.menu .school-icon{
    font-size: 60px;
    margin-left: 63px;
}
.menu .major-icon{
    font-size: 60px;
    margin-left: 180px;
}
.menu .score-icon{
    font-size: 60px;
    margin-left: 180px;
}
.menu .font{
    margin-top: -15px;
}
.div-inline{
    display:inline-block;
}
.user_info{
    text-align: center;
    margin-top: 80px;
}
.user_item{
    margin: auto;
    width: 400px;
    margin-top: 80px;
}
.areaselect{
    background:#fafdfe;
    height:28px;
    width:180px;
    line-height:28px;
    border:1px solid #9bc0dd;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    margin-top: 11px;
}
*{padding:0;margin:0;}
#tabs ul{width: 100%;display: block;height: 40px;margin-bottom: 20px;}
#tabs li{float: left;list-style: none;border: 1px solid ;padding:10px;cursor:pointer; background: #bbbbb3;  margin-left: 10px; }
.hide{display: none;}
#tabs div {margin-left: 10px;}