<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>matriculate</title>
    <meta name="viewport" http-equiv="Content-Type" content="text/html; charset=UTF-8;width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/college.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/moment.js" type="application/javascript"></script>
    <style>
        mark {
            background-color:#FF0000; font-weight:bold;
        }
    </style>
</head>
<body>
<div th:fragment="nav">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="glyphicon glyphicon-align-justify navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">

                </button>
                <a class="navbar-brand" href="/profession">录取概率计算</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">首页</a></li>
                    <li th:if="${session.loginUser != null}" class="dropdown">
                        <a href="/profile" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            <span  th:text="${session.loginUser.username}"></span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/front/logout">退出登录</a></li>
                        </ul>
                    </li>
                    <li th:if="${session.loginUser == null}">
                        <button  onclick="window.location.href = '/front/login'" type="button" class="btn btn-default navbar-btn" style="margin-right: 20px">
                            登录
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="page-header" style="margin-top: 70px">
    <h1 style="margin-left: 100px">选择报考的学校并输入你的高考成绩<small style="margin-left: 75px">即可获取你的录取概率</small></h1>
</div>
<center>

    <br><br>
    <h2 style="color:red">录取概率查询</h2>
    <br><br>

    <form class="form-horizontal" role="form" action="#" th:action="@{/mathoper}" th:object="${expression}" method="post">

        <div class="form-group" style="width:500px">
            <label for="expression" class="col-sm-4 control-label">输入成绩：</label>
            <div class="col-sm-8">
                <input type="text"  th:field="*{expr}" class="form-control" id="expression" placeholder="Enter a expression">
            </div>
        </div>

        <div class="form-group">
            <div>
                <button type="submit" class="btn btn-primary" id="btn">确认</button>
                <input type="reset" class="btn btn-warning" value="Reset" />
            </div>
        </div>
    </form>

    <p th:utext="${answer}"></p>

</center>
<!--<div th:insert="~{navigation :: nav}"></div>-->
</body>
</html>
