<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="nav">
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">高考志愿填报助手</span>
                </button>
                <a class="navbar-brand" href="/">志愿填报助手</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#">高考圈</a></li>
                    <li><a href="#">资讯</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li th:if="${session.loginUser != null}">
                        <a href="#" th:text="${session.loginUser}"></a>
                    </li>
                    <li th:if="${session.loginUser == null}">
                        <a href="/front/login">登录</a>
                    </li>
                </ul>
            </div>
        </div>

    </nav>
</div>
</body>
</html>