<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>专业大全</title>
    <meta name="viewport" http-equiv="Content-Type" content="text/html; charset=UTF-8;width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/college.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/moment.js" type="application/javascript"></script>
</head>
<body>
<div th:fragment="nav">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="glyphicon glyphicon-align-justify navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" style="margin-right: 30px;margin-top: 8px">                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a class="navbar-brand" href="/profession">专业大全</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-nav" action="/professionSearch" method="get">
                    <div class="form-group">
                        <input type="text" class="form-control" name="search" value=" " placeholder="搜索专业">
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>
                <form th:if="${session.loginUser.admin != null}" class="navbar-form navbar-nav" id="form_table" action="/import" enctype="multipart/form-data" method="post">
                    <div class="form-group">
                        <input class="form-input" type="file" name="filename">
                    </div>
                    <button type="submit" class="btn btn-default">导入</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">首页</a></li>
                    <li th:if="${session.loginUser != null}" class="dropdown">
                        <a href="/profile" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            <span  th:text="${session.loginUser.username}"></span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/front/logout">退出登录</a></li>
                        </ul>
                    </li>
                    <li th:if="${session.loginUser == null}">
                        <button  onclick="window.location.href = '/front/login'" type="button" class="btn btn-default navbar-btn" style="margin-right: 20px">
                            登录
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="contentDiv">
    <div class="container-fluid">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ul class="list-group" th:each="profession:${professions}">
                <li class="media" >
                    <a th:href="@{'/professionSC/'+${profession.pid}}" style="text-decoration: none;">
                        <div class="media-body" >
                            <h4 class="media-heading" th:text="${profession.proname}"></h4>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>
<!--<div th:insert="~{navigation :: nav}"></div>-->
</body>
</html>