<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>注册</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/ie10-viewport-bug-workaround.css">
    <link rel="stylesheet" href="/css/signin.css" >
    <link rel="stylesheet" href="/css/college.css">
    <script src="/js/ie-emulation-modes-warning.js"></script>

</head>
<body>
<div class="web_login">
    <form name="form2" id="regUser" accept-charset="utf-8"  action="/front/addregister" method="post">
        <div id="userCue" class="cue">快速注册请注意格式</div>
        <label for="username"  class="input-tips2">用户名：</label>
        <input type="text" id="username" name="username" maxlength="16" class="inputstyle2"/>
        <label for="password" class="input-tips2">密码：</label>
            <input type="password" id="password"  name="password" maxlength="16" class="inputstyle2"/>

            <label for="password2" class="input-tips2">确认密码：</label>

            <input type="password" id="password2" name="password2" maxlength="16" class="inputstyle2" />
            <p th:text="${msg}"></p>
            <input type="submit" id="reg"  style="margin-top:10px;margin-left:85px;" class="button_blue" value="同意协议并注册"/> <a href="#" class="zcxy" target="_blank">注册协议</a>
            <div class="cl"></div>
    </form>
</div>
<div th:insert="~{navigation :: nav}"></div>
<script src="/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>