<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>院校大全</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/college.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/moment.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="~{school_nav :: nav}"></div>
<div>
    <div class="container-fluid">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ul class="list-group" th:each="school:${schools}">
                <li class="media" >
                    <a th:href="@{'school_desc/'+${school.scid}}" style="text-decoration: none;">
                        <div class="media-body" >
                            <h4 class="media-heading" th:text="${school.name}"></h4>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>
<div th:insert="~{navigation :: nav}"></div>
</body>
</html>