<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="nav">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class=" glyphicon glyphicon-align-justify navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                </button>
                <a class="navbar-brand" href="/school">院校大全</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">所在区域 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>北京</li>
                            <li>河北</li>
                            <li>重庆</li>
                            <li>湖南</li>
                            <li>云南</li>
                            <li>陕西</li>
                            <li>黑龙江</li>
                        </ul>
                    </li>
<!--                    <li class="dropdown">-->
<!--                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">批次 <span class="caret"></span></a>-->
<!--                        <ul class="dropdown-menu">-->
<!--                            <li><a href="#">一批本科</a></li>-->
<!--                            <li><a href="#">二批本科</a></li>-->
<!--                            <li><a href="#">专科</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->
                </ul>
                <form class="navbar-form navbar-right" action="/school" method="get">
                    <div class="form-group">
                        <input type="text" class="form-control" name="search" placeholder="搜索大学">
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>
            </div>
        </div>
    </nav>
</div>
</body>
</html>
