<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <title>院校大全</title>
    <meta name="viewport" http-equiv="Content-Type" content="text/html; charset=UTF-8;width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/docs/css/bootstrap-example.min.css" type="text/css">
    <link rel="stylesheet" href="/docs/css/prettify.min.css" type="text/css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/college.css">
    <link rel="stylesheet" href="/css/bootstrap-select.min.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script type="text/javascript" src="/docs/js/prettify.min.js"></script>
    <link rel="stylesheet" href="/dist/css/bootstrap-multiselect.css" type="text/css">
    <script type="text/javascript" src="/dist/js/bootstrap-multiselect.js"></script>
    <script src="/js/moment.js" type="application/javascript"></script>
    <script src="/js/bootstrap-select.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            window.prettyPrint() && prettyPrint();
        });
        // 插件实例
        $(document).ready(function () {
            $("#typeId").multiselect();
            // 点击事件获取所有选中option的value值
            $("#btn").click(function () {
                var selectValueStr = [];
                $("#typeId option:selected").each(function () {
                    selectValueStr.push($(this).val());
                })
                console.log(selectValueStr)
            })
        });
        $(window).on('load', function () {
            $('.selectpicker').selectpicker({
                'selectedText': 'cat'
            });
            // $('.selectpicker').selectpicker('hide');  
        });
        $(function() {
            if (localStorage.getItem('ctc3')) {
                $("#ctc3 option").eq(localStorage.getItem('ctc3')).prop('selected', true);
            }

            $("#ctc3").on('change', function() {
                localStorage.setItem('ctc3', $('option:selected', this).index());
            });
        });
    </script>
</head>
<body class="diamond">
<div th:fragment="nav">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/school">院校大全</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-nav" action="/schoolSearch">
                        <select class="selectpicker" id="ctc3" name="select" multiple  data-actions-box="true">
                            <option  th:each="area:${areas}" th:value="${area.name}" th:text="${area.name}" th:selected="${area.name=='陕西'}"></option>
                        </select>
                    <button type="submit" class="btn btn-default">查询</button>
                </form>
                <form class="navbar-form navbar-right" action="/schoolSearch" method="get">
                    <div class="form-group">
                        <input type="text" class="form-control" name="search" value=" ">
                    </div>
                    <button type="submit" class="btn btn-default">搜索大学</button>
                </form>
<!--                <label for="id_select"></label>-->
<!--                                <select id="id_select" class="selectpicker bla bla bli" multiple data-live-search="true">-->
<!--                                    <option>123</option>-->
<!--                                    <option>456</option>-->
<!--                                    <option>789</option>-->
<!--                                    </optgroup>-->
<!--                                  </select>-->
            </div>
        </div>
    </nav>
</div>
<div  id="content">
    <div id ="chanpin0" >
        <div class="contentDiv col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ul class="list-group" th:each="school:${schoolsSx}">
                <li class="media" >
                    <a th:href="@{'school_desc_l/'+${school.scid}}" style="text-decoration: none;">
                        <div class="media-body" >
                            <h4 class="media-heading" th:text="${school.name}"></h4>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div id ="chanpin1"  >
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ul class="list-group" th:each="school:${schoolsBj}">
                <li class="media" >
                    <a th:href="@{'school_desc_l/'+${school.scid}}" style="text-decoration: none;">
                        <div class="media-body" >
                            <h4 class="media-heading" th:text="${school.name}"></h4>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div id ="chanpin2">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ul class="list-group" th:each="school:${schoolsYn}">
                <li class="media" >
                    <a th:href="@{'school_desc_l/'+${school.scid}}" style="text-decoration: none;">
                        <div class="media-body" >
                            <h4 class="media-heading" th:text="${school.name}"></h4>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div id ="chanpin3">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ul class="list-group" th:each="school:${schoolsCq}">
                <li class="media" >
                    <a th:href="@{'school_desc_l/'+${school.scid}}" style="text-decoration: none;">
                        <div class="media-body" >
                            <h4 class="media-heading" th:text="${school.name}"></h4>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div id ="chanpin4">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ul class="list-group" th:each="school:${schoolsHb}">
                <li class="media" >
                    <a th:href="@{'school_desc_l/'+${school.scid}}" style="text-decoration: none;">
                        <div class="media-body" >
                            <h4 class="media-heading" th:text="${school.name}"></h4>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div id ="chanpin5">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ul class="list-group" th:each="school:${schoolsHlj}">
                <li class="media" >
                    <a th:href="@{'school_desc_l/'+${school.scid}}" style="text-decoration: none;">
                        <div class="media-body" >
                            <h4 class="media-heading" th:text="${school.name}"></h4>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div id ="chanpin6">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ul class="list-group" th:each="school:${schoolsHn}">
                <li class="media" >
                    <a th:href="@{'school_desc_l/'+${school.scid}}" style="text-decoration: none;">
                        <div class="media-body" >
                            <h4 class="media-heading" th:text="${school.name}"></h4>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $("#chanpin1").hide();
        $("#chanpin2").hide();
        $("#chanpin3").hide();
        $("#chanpin4").hide();
        $("#chanpin5").hide();
        $("#chanpin6").hide();
    });
    $(function(){
        var li = $('#tabs');
        var cc=$('#tabs option');
        var len=cc.length;
        li.change(function(){
            var t = parseInt(li.get(0).selectedIndex);
            var id=$('#chanpin'+t);
            // alert(t) ;
            for(var i= 0;i<len;i++){
                if(t==i){
                    // alert(i);
                    $('#chanpin'+t).show();
                }else{
                    $('#chanpin'+i).hide();
                }
                // if(t==0){$('#chanpin'+i).show();}
            }
        });
    });
</script>
<div th:insert="~{navigation :: nav}" ></div>
</body>
</html>